/*
 *
 * CSS Reset
 *
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 /*
  *
  * General Rules
  *
  */

section {
	min-height: 100vh;
}

 /*
  *
  * Sections
  *
  */

section#bio {
	background-color: #202020;
	position: relative;
}

section#bio,
section#bio a {
	color: lightgrey;
}

section#bio > div#details > img {
	border-radius: 50%;
	width: 350px;
	border: 2px solid lightgrey;
	padding: 7px;
}

section#bio > div#details > h1,
section#bio > div#details > ul {
	font-family: 'Slabo 27px', serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

section#bio > div#details > h1 {
	font-size: 50px;
}

section#bio > div#details > ul {
	list-style: none;
	font-size: 25px;
}

div#details {
	/*border: 1px solid lightgrey;*/
	width: 50%;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

section#projects {
	background-color: #6086bf;
	color: #202020;
}

section#skillset {
	background-color: #ffb600;
	color: #202020;
}

section#contact {
	background-color: #1bec68;
	color: #202020;
	position: relative;
}

section#projects,
section#skillset,
section#contact {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

body {	
	/*background-color: red;*/
	font-family: 'Open Sans', sans-serif;
}

/*
 *
 * Footer
 *
 */

 footer {
 	padding-top: 15px;
 	padding-bottom: 15px;
 	text-align: center;
 	background-color: #202020;
 	color: lightgrey;
 	position: absolute;
 	bottom: 0;
 	width: 100%;

 }

 footer a {
 	color: lightgrey;
 }